<div class="row">
	
	<div class="col-md-4">
		<!-- 		<%= link_to "Crear nueva colección", new_collection_path(@collection), class: "btn btn-warning" %> -->
		<a href="" data-toggle="modal" data-target="#crearColeccion" class="btn btn-warning">Crear nueva colección</a>

		<a href="" data-toggle="modal" data-target="#crearDisenador" class="btn btn-primary">Crear nuevo Diseñador</a>
	</div>
</div>

<div class="row">

	<h2>Nuestras colecciones</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead >
				<tr class="info">
					<th> ID </th>
					<th> Nombre </th>
					<th> # Productos </th>
					<th> # Diseñadores </th>
					<th> # Ventas </th>
					<th> Otros </th>
				</tr>
			</thead>
			<tbody>

				<% @wholeCollections.each do |f|%>

				<tr>
					<td><%=f.id %></td>
					<td><%= f.name %></td>
					<td> 123 </td>
					<td> 456 </td>
					<td> 234 </td>
					<td> <%= link_to "Editar", '#', 'data-target' => "#editarColeccion_#{f.id}", 'data-toggle' => 'modal' %> </td>
					<div class="modal fade" id='<%= "editarColeccion_#{f.id}" %>' >
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Editar colección</h4>
								</div>
								<%= bootstrap_form_for f, method: "put" do |el| %>
								<div class="modal-body">

									<%= el.text_field :name, label:"Nombre de la colección", placeholder: "Player Name" %>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<%= el.submit "Editar", class: "btn btn-success" %>
								</div>
								<%end%>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</tr>
				<%end%>
			</tbody>

		</table>
	</div>
</div>

<div class="row">

	<h2>Nuestros diseñadores</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead >
				<tr class="info">

					<th> Nombre </th>
					<th> Apellidos </th>
					<th> # Diseños </th>
					<th> # Productos </th>
					<th> # Ventas </th>
					<th> Otros </th>
				</tr>
			</thead>
			<tbody>

				<% @wholeDesigners.each do |f|%>

				<tr>

					<td><%= f.name %></td>
					<td><%= f.lastname %></td>
					<td> 123 </td>
					<td> 456 </td>
					<td> 234 </td>
					<td> <%= link_to "Editar", '#', 'data-target' => "#editarDisenador_#{f.id}", 'data-toggle' => 'modal' %><br><a href="">Agregar diseño</a><br><a href="">Pagar</a> </td>
					<div class="modal fade" id='<%= "editarDisenador_#{f.id}" %>' >
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Editar Disenador</h4>
								</div>
								<%= bootstrap_form_for f, method: "put" do |el| %>
								<div class="modal-body">

									<%= el.text_field :name, label:"Nombre" %>
									<%= el.text_field :lastname, label:"Apellido" %>

								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<%= el.submit "Editar", class: "btn btn-success" %>
								</div>
								<%end%>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</tr>
				<%end%>
			</tbody>

		</table>
	</div>
</div>

<div class="modal fade" id="crearColeccion" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Crear nueva colección</h4>
			</div>
			<div class="modal-body">
				<%= bootstrap_form_for (@collection) do |f| %>

				<%= f.text_field :name, label:"Nombre", placeholder: "Elige el nombre de la colección" %>


				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Crear", class: "btn btn-success" %>

			</div>
			<%end%>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="crearDisenador" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Crear nuevo Diseñador</h4>
			</div>
			<div class="modal-body">
				<%= bootstrap_form_for @designer , validate: true do |f| %>

				<div id="error_explanation"  style="display:none;"></div>

				<%= f.text_field :name, label:"Nombre", placeholder: "Nombre" %>
				<%= f.text_field :lastname, label:"Apellido", placeholder: "Apellido" %>


				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Crear", class: "btn btn-success" %>

			</div>
			<%end%>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
