<h2><%=@collection.name%></h2>
<div class="row">

	<h2>Nuestras colecciones</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead >
				<tr class="info">
					<th> # Productos </th>
					<th> # Diseñadores </th>
					<th> # Diseños </th>
					<th> # Ventas </th>
					<th> Otros </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> 123 </td>
					<td> <%= @collection.designs.group(:designer_id).count(:designer_id).length %></td>
					<td> <%= @collection.designs.count  %></td>
					<td> 234 </td>
					<td> <%= link_to "Editar", edit_collection_path(@collection)  %> </td>
				</tr>
			</tbody>

		</table>
	</div>
</div>


<div class="row">

	<% @collection.products.each do |phonecase|%>

	  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag phonecase.picture(:thumbBox) %>
      <div class="caption">
        <h4><%= link_to phonecase.title, product_path %></h4>
        <p><%= link_to phonecase.design.designer.name + " " + phonecase.design.designer.lastname, designer_path(phonecase.design.designer_id) %></p>
        <p><a href="#" class="btn btn-primary" role="button">Ver</a> <a href="#" class="btn btn-default" role="button">Editar</a></p>
      </div>
    </div>
  </div>
	<% end %>



</div>