<%= render "navbar"%>

<div class="container">
  <h1 class="century-bold uppercase center">Colecciones</h1>
  <div class="row" style="margin-top:20px">
  <div class="col-md-8 col-md-offset-2">
    <% @collections.each_with_index do |el,index| %>
      <div class="col-md-6">
        <div class="thumbnail">
          <%= image_tag el.designs.first.picture.url(:thumb) %>
          <div class="caption">
            <h3 class="title century-bold"><%=el.name%></h3>
            <p class="century"><%=el.designs.count%> diseños</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<%= render "footer"%>