<%= render "navbar"%>

<div class="container">
  <div class="row" style="margin-top:20px">
    <% @casesi6.each do |el| %>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail row">
        <div class="col-sm-6">
          <%= image_tag el.picture(:thumbBox)%>
        </div>
        <div class="col-sm-6">
          <div class="caption">
            <h3 class="title"><%=el.title%></h3>
            <p><%= el.price%></p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render "footer"%>
