<div class="row">

	<h2>Nuestros diseños</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead >
				<tr class="info">

					<th> Nombre </th>
					<th> Imagen </th>
					<th> Diseñador </th>
					<th> Colección </th>
					<th> # Productos </th>
					<th> # Modelos</th>
					<th> Otros</th>
				</tr>
			</thead>
			<tbody>

				<% @designs.each do |f|%>

				<tr>

					<td><%= f.name %></td>
					<td><%=image_tag f.picture.url(:thumb), class: "minipics" %></td>
					<td><%= f.designer.name %> <%= f.designer.lastname %> </td>
					<td><%= f.collection.name %></td>
					<td><%= f.products.count %></td>
					<td>
						<strong>iPhone 4  - </strong><%= f.phonetypes.where("phonetype_id=1").count %>
						<br>
						<strong>iPhone 5  - </strong><%= f.phonetypes.where("phonetype_id=2 OR phonetype_id=3 OR phonetype_id=4").count %>
						<br>
						<strong>iPhone 6  - </strong><%= f.phonetypes.where("phonetype_id=5 OR phonetype_id=6 OR phonetype_id=7").count %>
						<br>
						<strong>iPhone 6 Plus  - </strong><%= f.phonetypes.where("phonetype_id=8").count %>
						<br>
						<strong>Galaxy S5  - </strong><%= f.phonetypes.where("phonetype_id=9").count %>
						<br>
						<strong>Moto G  - </strong><%= f.phonetypes.where("phonetype_id=10").count %>
					</td>
					<td><%=link_to "Ver", admin_designer_design_path(f.designer_id,f)%><br><%=link_to "Crear producto", new_admin_design_product_path(f.id)%></td>

				</tr>
				<%end%>
			</tbody>

		</table>

		<%= will_paginate @designs, renderer: BootstrapPagination::Rails %>
	</div>

	
</div>