<%= render "front_store/navbar" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <h1 class="century uppercase" style="text-align:center">Inicia Sesión</h1>
  <div class="row" style="margin-top:20px">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-12">
        <%= link_to image_tag("iconos/facebook_white.svg", :border => 0 , style: "height:50px"), user_omniauth_authorize_path(:facebook), class: "col-md-12 supercenter", style: "background-color:#3b5998" %>
        <!-- <a class="col-md-12 supercenter" style="background-color:#3b5998"><img style="height:50px" src="/assets/iconos/facebook_white.svg"></a> -->
        <a class="col-md-12 supercenter" style="background-color:#2e5e86; margin:10px 0"><img style="height:50px" src="/assets/iconos/instagram_white.svg"></a>
      </div>

      <div class="col-md-12" style="border-top:solid black 1px">
       <%= f.password_field :email, autofocus: true, class: "col-md-12 century margin-10", type: "email", placeholder:"email", style:"line-height:50px;background-color:#d0d0d0; color:#000; width:100%" %>      
       <%= f.password_field :password, autocomplete: "off", class: "col-md-12 century margin-10", type: "password", placeholder:"password", style:"line-height:50px;background-color:#d0d0d0; color:#000; width:100%" %>
       <% if devise_mapping.rememberable? -%>
       <div class="field margin-10">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Recordar mi cuenta" %>
      </div>
      <% end -%>
    </div>

    <%= f.submit "Inicio", class: "col-md-4 col-md-offset-4 btn btn-pink century uppercase"  %> 
    <br>
    <div class=" col-md-12 margin-10">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
</div>
<% end %>