<% unless smart_listing.empty? %>
  <table>
    <thead>
      <tr>
        <th> Modelo </th>
        <th> Tipo de case </th>
        <th> Tipo de acabado </th>
        <th> Stock </th>
      </tr>
    </thead>
    <tbody>
          <% smart_listing.collection.each do |inv| %>
      <tr>
        <td><%=inv.phonetype.modelName %></td>
        <td><%=inv.phonetype.type_of_case%></td>
        <td><%=inv.finish%></td>
        <td><%=inv.stock%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate  %>
<% else %>
  <p class="warning">No records!</p>
<% end %>