<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Datos Personales
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<%= bootstrap_form_tag do |f|  %>
      		<div class="col-md-8">
	      		<%= f.text_field(:nombre, value:current_user.name) %>
	      	</div>
	      	<div class="col-md-8">
	      	<%= f.text_field(:apellido, placeholder:"Apellido",value:current_user.last_name) %>
	      	</div>
	      	<div class="col-md-8">
	      		<%= f.text_field(:email,value:current_user.email) %>	
	      	</div>
	      	<div class="col-md-8">
	      		<%= f.telephone_field(:celular, label:"Celular",placeholder:"987654321") %>
      		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dirección de envío
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      		<div class="col-md-12">
      			<%= f.text_area(:address,label: "Dirección", placeholder:"Dirección") %>
      		</div>
	      	<div class="col-md-4">
	      		<%= f.select(:departamento, ["Departamento"]) %>
	      	</div>
	      	<div class="col-md-4">
	      		<%= f.select(:provincia, ["Provincia"]) %>
	      	</div>
	      	<div class="col-md-4">
	      		<%= f.select(:distrito, ["Distrito"]) %>
	      	</div>
	      	<%= f.hidden_field(:country, value:"Perú") %>
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Forma de envío
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      		<%= f.form_group :envio do %>
            <%=f.radio_button(:envio,5,label:"Estándar - S/.5", checked: true)%>
            <%=f.radio_button(:envio,10,label:"Next day - S/.10")%>
          <%end%>
      </div>
    </div>
  </div>
</div>
    <%= f.form_group :terms do %>
      <%= f.check_box :terminos,label:"Acepto los términos y condiciones" %>
    <% end %>
    <%= f.submit"Continuar", class:"btn btn-lightBlue", disabled:true, id: "continuar"%>
  <% end %>
