<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Datos Personales
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<%= bootstrap_form_for [@order, @shipping] do |f|  %>
      		<div class="col-md-8">
	      		<%= f.text_field(:name, value:current_user.name) %>
	      	</div>
	      	<div class="col-md-8">
	      	<%= f.text_field(:last_name, placeholder:"Apellido",value:current_user.last_name) %>
	      	</div>
	      	<div class="col-md-8">
	      		<%= f.text_field(:email,value:current_user.email) %>	
	      	</div>
	      	<div class="col-md-8">
	      		<%= f.phone_field(:phone, label:"Celular",placeholder:"987654321") %>
      		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dirección de envío
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      		<div class="col-md-12">
      			<%= f.text_area(:address,label: "Dirección", placeholder:"Dirección") %>
      		</div>
	      	<div class="col-md-4">
	      		<%= f.select(:department,["Departamento"], label:"Departamento") %>
	      	</div>
	      	<div class="col-md-4">
	      		<%= f.select(:province, ["Provincia"], label:"Provincia") %>
	      	</div>
	      	<div class="col-md-4">
	      		<%= f.select(:district, ["Distrito"], label:"Distrito") %>
	      	</div>
	      	<%= f.hidden_field(:country, value:"Perú") %>
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Forma de envío
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      		<%= f.form_group :cost do %>
            <%=f.radio_button(:cost,5,label:"Estándar - S/.5", checked: true)%>
            <%=f.radio_button(:cost,10,label:"Next day - S/.10")%>
          <%end%>
      </div>
    </div>
  </div>
</div>
    <%= f.form_group :terms do %>
      <%= f.check_box :terms, label:("#{link_to 'Acepto los términos y condiciones','', id:'terminos_modal'}").html_safe %>
    <% end %>
    <%= f.submit"Continuar", class:"btn btn-green", disabled:true, id: "continuar"%>
  <% end %>



  <script type="text/javascript">
    var linkToModal = document.getElementById("terminos_modal")
    linkToModal.setAttribute("data-toggle","modal");
    linkToModal.setAttribute("data-target","#terminos");

  </script>