
<% content_for :javascript_includes do %>
<%= javascript_include_tag "preview.js" %>
<% end %>

<script>
	UPLOADCARE_LOCALE = "es";
	UPLOADCARE_TABS = "file url facebook instagram dropbox";
	UPLOADCARE_PUBLIC_KEY = "8012d0738a4f45c757e4";
	UPLOADCARE_LIVE = false;
</script>

<div class="container" id="crea_case">
	<div class="row">
		<div class="col-md-3 desktop">
			<img id="logo" src="/assets/logo_arteaparte.png" class="pull-left">
			<div class="col-md-12">
				<%= link_to '< Regresar', root_path %>
				<p id="mensaje_ayuda" style="display:none"> Intenta cubrir hasta la líneas punteadas</p>
			</div>
			
		</div>
		<div class="supercenter col-md-6 col-sm-12" >
			<canvas id="c"></canvas>
		</div>
		<div class="col-md-3 price_and_button">
			<h1 class="century-bold custom_price">S/. 90</h1>
			<a href="#" class="btn btn-lightBlue" id="generar2" style="display:none"> Generar </a>
			<%= bootstrap_form_for @picture do |f|%>
			<%= hidden_field_tag 'picture_url'%>
			<%= hidden_field_tag 'phone_type_name', '5'%>
			<%= hidden_field_tag 'image_to_print'%>
			<%= f.submit "Continuar", class: "btn btn-green margin-20", id: "generar" %>
			<% end %>
		</div>
	</div>
</div>
<div style="bottom:8vh;position:fixed;width:100%">
	<div class="col-md-12 myTabs">
		<div class="col-md-12 myTabs">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="A" >
					<div class="margin-10 tab-center">
						<h4 class="century-bold subtitle">Sube una imagen</h4>
						<form id="my-form">
							<input type="hidden" role="uploadcare-uploader" data-crop="disabled" data-preview-step="true" data-images-only="true"/>
						<div id="wuju" style="display:inline">
						</div>
						</form>
					</div>
				</div>
				<div class="tab-pane fade" id="B">
					<div class="margin-10 tab-center">
						<h4 class="century-bold subtitle">Selecciona el color que más te guste para el case</h4>
						<% @colors.each do |color|%>
							<div class="color-button" style="background-color:<%= color.color_code%>"></div>
						<% end %>
						<div class="other_color_button"></div>
					</div>
				</div>
				<div class="tab-pane fade desktop" id="C">
					<div class="row" >
						<h4 class="century-bold subtitle">Agrega un texto</h4>
						<div class="margin-10 col-md-4">
							<a id="text_to_canvas" class="btn btn-lightBlue">Agrega un texto</a>
							<a id="remove-text" class="btn btn-red">Eliminar</a>
						</div>
						<div class="col-md-4 margin-10 ">
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:300px">
									Fuente
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu"  id="fontFamilyDropDown"aria-labelledby="dropdownMenu2" style="height:auto;max-height:200px;overflow-x:hidden">
									<% ["Andale Mono","Arial","Arial Black","Arial Narrow","Arial Rounded MT Bold","Avant Garde","Baskerville","Big Caslon","Bodoni MT","Book Antiqua","Calibri","Calisto MT","Cambria","Candara","Century Gothic","Consolas","Copperplate","Courier New","Didot","Futura	","Garamond	","Geneva","Georgia","Gill Sans","Goudy Old Style","Helvetica","Hoefler Text","Impact","Lucida Bright","Lucida Console","Lucida Grande","Lucida Sans Typewriter","Monaco","Optima","Palatino","Papyrus","Perpetua","Rockwell","Rockwell Extra Bold","Segoe UI","Tahoma","Times New Roman","Trebuchet MS","Verdana"].each do |n|%>
									<li><a style="font-family:<%=n%>;font-size:20px"><%= n %></a></li>
									<% end %>
								</ul>
							</div>
						</div>
						<div class="col-md-4 margin-10">
							<% @colors.each do |color|%>
							<div class="color_button2" style="background-color:<%= color.color_code%>"></div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="D">
					<h4 class="century-bold subtitle">Selecciona los emojis que quieras</h4>
<!-- 					<input type="text" id="newtext" style="display:none"> -->
					<div id="emojiskeyboard">
										<% "😬 😁 😂 😃 😄 😅 😆 😇 😉 😊 🙂 🙃 😋 😌 😍 😘 😗 😙 😚 😜 😝 😛 🤑 🤓 😎 🤗 😏 😶 😐 😑 😒 🙄 🤔 😳 😞 😟 😠 😡 😔 😕 🙁 😣 😖 😫 😩 😤 😮 😱 😨 😰 😯 😦 😧 😢 😥 😪 😓 😭 😵 😲 🤐 😷 🤒 🤕 😴 💤 💩 😈 👿 👹 👺 💀 👻 👽 🤖 😺 😸 😹 😻 😼 😽 🙀 😿 😾 🙌 👏 👋 👍 👊 ✊ 👌 ✋ 💪 🙏 ☝️ 👆 👇 👈 👉 🖕 🤘 🖖 💅 👄 👅 👂 👃 👁 👀 👤 🗣 👶 👦 👧 👨 👩 👱 👴 👵 👲 👳 👮 👷 💂 🕵 🎅 👼 👸 👰 🚶 🏃 💃 👯 👫 👬 👭 🙇 💁 🙅 🙆 🙋 🙎 🙍 💇 💆 💑 👩‍❤️‍👩 👨‍❤️‍👨 💏 👩‍❤️‍💋‍👩 👨‍❤️‍💋‍👨 👪 👨‍👩‍👧 👨‍👩‍👧‍👦 👨‍👩‍👦‍👦 👨‍👩‍👧‍👧 👩‍👩‍👦 👩‍👩‍👧 👩‍👩‍👧‍👦 👩‍👩‍👦‍👦 👩‍👩‍👧‍👧 👨‍👨‍👦 👨‍👨‍👧 👨‍👨‍👧‍👦 👨‍👨‍👦‍👦 👨‍👨‍👧‍👧 👚 👕 👖 👔 👗 👙 👘 💄 💋 👣 👠 👡 👢 👞 👟 👒 🎩 ⛑ 🎓 👑 🎒 👝 👛 👜 💼 👓 🕶 💍 🌂😇".split().each do |el|
%>
					<p style="font-size:2.5em; display:inline;cursor:pointer" class="emoji text_emoji"><%= el %></p>
					<%end%>
					</div>
				</div>
				<div class="tab-pane fade" id="E">
					<h4 class="century-bold subtitle">Elige tu equipo</h4>
					<div class="dropdown tab-center">	
							<% Phonetype.all.each do |n|%>
							<div class="phonetype supercenter" style="width:80px;height:80px;border:dashed 2px black;display:inline-block;white-space: normal;padding: 20px 0px; margin:10px"><a href="#" id="<%=n.id%>"><%= n.modelName %> <%= n.type_of_case%></a></div>
							<% end %>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="height:8vh;background-color: #585858;position:fixed;bottom:0;width:100%">
	<div class="supercenter" style="color:white;padding:3vh 10vw">
		<div class="custom_menu"">
			<a href="#A" data-toggle="tab">
				<img class="icon desktop" src="/assets/iconos/fotos.png">
				FOTOS
			</a>
		</div>
		<div class="custom_menu"">
			<a href="#B" data-toggle="tab">
				<img class="icon desktop" src="/assets/iconos/colores.png">
				FONDO
			</a>
		</div>
		<div class="custom_menu desktop">
			<a href="#C" data-toggle="tab">
				<img class="icon desktop" src="/assets/iconos/textos.png" >
				TEXTO
			</a>
		</div>
		<div class="custom_menu"">
			<a href="#D" data-toggle="tab">
				<!-- <img src="/assets/iconos/happy.svg" style="height:20px;margin-right: 7px;color:white"> -->
				<svg class="icon desktop" version="1.1" id="Capa_1" x="0px" y="0px"
				viewBox="0 0 462.4 414.9">
				<g>
					<path d="M230.7,19.8C126.7,19.8,42,104.5,42,208.5c0,104,84.6,188.7,188.7,188.7s188.7-84.7,188.7-188.7
					C419.4,104.5,334.8,19.8,230.7,19.8z M230.7,378.1c-93.5,0-169.6-76.1-169.6-169.6c0-93.5,76.1-169.6,169.6-169.6
					S400.3,115,400.3,208.5C400.3,302,324.3,378.1,230.7,378.1z"/>
					<path d="M144.6,199c0-9.8-7.9-17.7-17.7-17.7c-9.8,0-17.7,7.9-17.7,17.7s7.9,17.7,17.7,17.7C136.6,216.7,144.6,208.7,144.6,199z"/>
					<path d="M334.6,181.2c-9.8,0-17.7,7.9-17.7,17.7s7.9,17.7,17.7,17.7c9.8,0,17.7-7.9,17.7-17.7S344.4,181.2,334.6,181.2z"/>
					<path d="M340.1,249.2H121.4c-4,0-7,3.3-6.3,7c4.3,22.5,24.8,91.4,115.6,91.4c90.8,0,111.3-68.9,115.6-91.4
					C347,252.6,344.1,249.2,340.1,249.2z"/>
				</g>
			</svg>
				EMOJI
			</a>
		</div>
		<div class="custom_menu"">
			<a href="#E" data-toggle="tab">
				<img class="icon desktop" src="/assets/iconos/equipos.png">
				EQUIPOS
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	mixpanel.track("Ingresó a Crea tu case");
</script>	