<%= render "front_store/navbar" %>
<div class="container">
	<div class="row">
		<h2>Mira tu creación</h2>
		<div class="col-md-6">
			<%= image_tag @case.picture.url(:medium), style: "height:500px"  %>
		</div>
		<div class="col-md-6">
			<h4>Artista: </h4>
			<h3>Lalo González</h3>
			<h2 class="lightblue-text"> S/. 90</h2>
			<%= form_tag charges_path, id: 'chargeForm' do %>
				<script src="https://checkout.stripe.com/checkout.js"></script>
				<%= hidden_field_tag 'stripeToken' %>
				<%= hidden_field_tag 'stripeEmail' %>  
				<button id="btn-buy" type="button" class="btn btn-lightBlue">LO QUIERO</button>
				<script>
					var handler = StripeCheckout.configure({
						key: '<%= Rails.configuration.stripe[:publishable_key] %>',
						token: function(token, arg) {
							document.getElementById("stripeToken").value = token.id;
							document.getElementById("stripeEmail").value = token.email;
							document.getElementById("chargeForm").submit();
						}
					});
					document.getElementById('btn-buy').addEventListener('click', function(e) {
						handler.open({
							name: 'Arte Aparte',
							description: 'Case (S/. 90)',
							amount: 9000,
							currency:'pen'
						});
						e.preventDefault();
					})
				</script>
			<% end %>
		</div>
	</div>
</div>	
<%= render "front_store/footer" %>