<% content_for :javascript_includes do %>
  <%= javascript_include_tag "form.js" %>
  <script type="text/javascript"
  src='https://integ-pago.culqi.com/api/v1/culqi.js'>
</script>
<% end %>

<%= render "front_store/navbar" %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 style="text-align:center"><%= current_user.name%>, tu case para <%= @case.phonetype.modelName %> quedó <span class="lightblue-text kitsuneUdon"><%= ["alucinante","maldito","bravazo","perfecto","súper paja","mostro", "súper chévere","locazo"].sample %></span></h2>
        
        </div>
    </div>
	<div class="row margin-20">
        <div class="col-md-10">
    		<div class="col-md-6">
    			<%= image_tag @case.picture.url(:medium), class:"showCase"  %>
                <h2 class="lightblue-text" id="order_price" style="text-align:center"> S/. <%= @case.phonetype.base_price %> </h2>
    		</div>
            <div class="col-md-6">
                <%= render "picture_for_customs/shipping_form"%>
                <%= render "picture_for_customs/modal_terminos"%>
            </div>
        </div>
	</div>
</div>	



