<%= render "front_store/navbar" %>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 style="text-align:center"><%= @user.name%> quedó <span class="lightblue-text kitsuneUdon">alucinante</span></h2>
        </div>
    </div>
	<div class="row">
        <div class="col-md-10">
    		<div class="col-md-6">
    			<%= image_tag @order.picture_for_custom.picture.url(:medium), class:"showCase"  %>
                <h2 class="lightblue-text" style="text-align:center"> S/. <%= (@order.subtotal + @order.shippings.last.cost).to_i %> </h2>
    		</div>
            <div class="col-md-6">
            <%= bootstrap_form_tag do |f|  %>
	            <%= f.form_group :envio do %>
		            <%=f.radio_button(:envio,0,label:"Tarjeta de Crédito", checked: true)%>
		            <%=f.radio_button(:envio,1,label:"Transferencia Bancaria")%>
	           <%end%>
            <% end %>
            <button id="btn_pago" class="btn btn-lightBlue">Pagar</button>
            </div>
        </div>
	</div>
</div>	

    <script type="text/javascript"
  src='https://integ-pago.culqi.com/api/v1/culqi.js'></script>
  <script type="text/javascript">
  	    checkout.codigo_comercio = "<%= ENV['CULQI_CODIGO_COMERCIO'] %>";
    checkout.informacion_venta = "<%= @informacion_venta %>";


    $('#btn_pago').on('click', function(e) {

    // Abre el formulario de pago de Culqi.
    checkout.abrir();

    e.preventDefault();

    });

    //Esta función es llamada al terminar el proceso de pago.
    //Debe de ser usada siempre, para poder obtener la respuesta.
    function culqi (checkout) {

    //Aquí recibes la respuesta del formulario de pago.
    //Si el usuario cierra el formulario de pago
    //checkout.respuesta tendrá en valor "checkout_cerrado"
    //También puede tener el valor: "error", "parametro_invalido"
    //Y si ha expirado, "venta_expirada"
    $.ajax({
                url: '/users/'+ "<%= @user.id %>"+ '/charges/',
                type: 'POST',
                data: {
                	"charge": {
                		"response": checkout.respuesta,
                		"uuid": Math.random().toString(36).substring(20),
                		"user_id": "<%= @user.id %>"
                	}
                },
                success: function(data){
                	console.log(data);
                	window.location = "/users/"+ "<%= @user.id %>" +"/charges/" + data.uuid
                    // var obj = data;
                    // var tipo_respuesta_venta = obj['codigo_respuesta'];
                    // if (tipo_respuesta_venta == "venta_exitosa") {
                    //   checkout.cerrar();
                    //   window.location = "/charges/4"
                    // } 
                    // // else if (tipo_respuesta_venta == "venta_expirada") {

                    // } else if (tipo_respuesta_venta == "error") {

                    // } else if (tipo_respuesta_venta == "parametro_invalido") {

                    // } else {
                    //     // Brindale un mensaje amigable al cliente
                    //     // Puedes usar el mensaje que Culqi recomienda
                    //     checkout.cerrar();
                    // }
                },
                error:function(data){
                	console.log(data)
                	alert("Something went wrong");
                }
            });

    // Cierra el formulario de pago de Culqi.
    checkout.cerrar();

    };
  </script>