<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>

<% else %>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="pull-right text-primary"><span aria-hidden="true"><img src="assets/iconos/cart.svg" style="height:3vh"></span><span class="badge">
        <% total = 0 %>
        <% current_order.order_items.each do |a| %>
          <% total += a.quantity%>
        <% end %>
        <%= total %>
        </span></p>
        <h4 class="modal-title text-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Tus compras </h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr>
            <th>Serie</th>
            <th>Item Name</th>
            <th>Unit Price </th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
          </tr>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
          <tr class="active lead">
            <td colspan="4">Total</td>
            <td><%=current_order.subtotal%></td>
            <td><a href="#" class="btn btn-danger btn-sm">Limpiar carrito</a></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-success pull-right" data-target="#payment" data-toggle="modal">Pagar<span class="glyphicon glyphicon-chevron-right"></span></a>
        <a href="#" class="btn btn-default pull-left" data-dismiss="modal">Seguir comprando</a>
      </div>
    </div>
  </div>
<% end %>