<h1>Editar diseñador</h1>
<%= bootstrap_form_for [:admin,@designer], method: "put" do |el| %>
<div>

	<%= el.text_field :name, label:"Nombre" %>
	<%= el.text_field :lastname, label:"Apellido" %>
	<%= el.text_field :type_Of_Artist, label:"Tipo de Artista", placeholder: "Ilustrador" %>
	<%= el.file_field :avatar %>

</div>
<div>
	<a href="javascript:history.back()" class="btn btn-pink">Cancelar</a>
	<%= el.submit "Editar", class: "btn btn-lightBlue" %>
</div>
<%end%>