<div class="row">

	<h2>Nuestras colecciones</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead >
				<tr class="info">
					<th> ID </th>
					<th> Nombre </th>
					<th> # Productos </th>
					<th> # Diseñadores </th>
					<th> # Diseños </th>
					<th> # Ventas </th>
					<th> Otros </th>
				</tr>
			</thead>
			<tbody>

				<% @wholeCollections.each do |f|%>

				<tr>
					<td><%=f.id %></td>
					<td><%= f.name %></td>
					<td><%= f.products.count %></td>
					<td> <%= f.designs.group(:designer_id).count(:designer_id).length %></td>
					<td> <%= f.designs.count  %></td>
					<td> 234 </td>
					<td> <%= link_to "Ver detalle", admin_collection_path(f)  %><br><%= link_to "Editar", edit_admin_collection_path(f)  %> </td>
				</tr>
				<%end%>
			</tbody>

		</table>

		<%= will_paginate @wholeCollections, renderer: BootstrapPagination::Rails %>
	</div>
</div>
