<!DOCTYPE html>
<html>
<head>
	<title>Arte Aparte</title>
	<link rel="shortcut icon" href="/assets/iconos/rombo.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script charset="utf-8" src="https://ucarecdn.com/widget/2.0.6/uploadcare/uploadcare.full.min.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>


	<div class="container">
		<% if flash[:notice].present? %>
		<div class="container text-center alert alert-primary">
			<%= flash[:notice] %>
		</div>
		<% end %>

		<% if flash[:alert].present? %>
		<div class="container text-center alert alert-warning">
			<%= flash[:alert] %>
		</div>
		<% end %>

		<% if flash[:success].present? %>
		<div class="container text-center alert alert-success">
			<%= flash[:success] %>
		</div>
		<%end%>
		<% if flash[:error].present? %>
		<div class="container text-center alert alert-danger">
			<%= flash[:error] %>
		</div>
		<% end %>
	</div>

		<%= yield %>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.16/dist/jquery.flip.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
