<%= render "front_store/navbar" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="container">
  <h1 class="century uppercase" style="text-align:center">Regístrate</h1>
  <div class="row" style="margin-top:20px">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-12">
        <%= link_to image_tag("iconos/facebook_white.svg", :border => 0 , style: "height:50px"), user_omniauth_authorize_path(:facebook), class: "col-md-12 supercenter", style: "background-color:#3b5998" %>
        <a class="col-md-12 supercenter" style="background-color:#2e5e86; margin:10px 0"><img style="height:50px" src="/assets/iconos/instagram_white.svg"></a>
      </div>
      <div class="col-md-12">
        <div class="col-xs-5">
          <span class="divider-h"></span>
        </div>
        <div class="col-xs-2 supercenter">
          <span> O </span>
        </div>
        <div class="col-xs-5">
          <span class="divider-h"></span>
        </div>
      </div>
      <div class="col-md-12">
       <%= f.text_field :name, autofocus: true, class: "col-md-12 century margin-10", type: "text", placeholder:"Nombre" %>  
       <%= f.text_field :email, autofocus: false, class: "col-md-12 century margin-10", type: "email", placeholder:"email" %>      
       <%= f.password_field :password, autocomplete: "off", class: "col-md-12 century margin-10", type: "password", placeholder:"password" %>
     </div>

     <%= f.submit "Registrate", class: "col-xs-4 col-xs-offset-4 btn btn-lightBlue century uppercase"  %> 
     <br>
     <div class=" col-md-12 margin-10">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
</div>
<% end %>
